In [2]:
#Import Pandas and os
import pandas as pd 
import os

In [3]:
# Open CSV File
csv_path = os.path.join("Resources", "budget_data.csv")

In [4]:
# Read CSV File
PyBank_df = pd.read_csv(csv_path)

In [5]:
# View Sample of Data
PyBank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# Calculate count of rows and assign to variable
Total_Months = PyBank_df["Date"].count()

In [7]:
# Calculate sum of Profit/Losses and assign to variable
Total = PyBank_df["Profit/Losses"].sum()

In [8]:
# Create 2 series and assign to variables
Change = pd.Series()
Change_Month = pd.Series()

In [10]:
# Calculate the change from each month and assign to series and assign the month to series
Change = PyBank_df["Profit/Losses"].diff()
Change_Month = PyBank_df["Date"]

In [17]:
# Calculate average change and assign to variable
Avg_Change = Change.mean()

In [16]:
# Combine the Month Series with the Change Series 
Change_Table = pd.concat([Change_Month, Change], axis = 1)

In [28]:
# Calculate Minimum and assign to variable 
Greatest_Decrease = Change_Table.loc[Change_Table["Profit/Losses"].idxmin()]

In [31]:
# Calculate Maximum and assign to variable 
Greatest_Increase = Change_Table.loc[Change_Table["Profit/Losses"].idxmax()]

In [33]:
# Print Results 
print(f"""
Financial Analysis 
---------------------------- 
Total Months: {Total_Months} 
Total: ${Total}
Average  Change: ${Avg_Change} 
Greatest Increase in Profits: {Greatest_Increase}
Greatest Decrease in Profits: {Greatest_Decrease}
""")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: Date                Feb-2012
Profit/Losses    1.92616e+06
Name: 25, dtype: object
Greatest Decrease in Profits: Date                Sep-2013
Profit/Losses   -2.19617e+06
Name: 44, dtype: object

In [34]:
# Export Results to text file
with open("PyBank_Results.txt", "w") as text_file:
    text_file.write(f"""
Financial Analysis 
---------------------------- 
Total Months: {Total_Months} 
Total: ${Total}
Average  Change: ${Avg_Change} 
Greatest Increase in Profits: {Greatest_Increase} 
Greatest Decrease in Profits: {Greatest_Decrease}
""")