In [2]:
#Import Pandas and os
import pandas as pd 
import os

In [8]:
# Open CSV File
csv_path = os.path.join("Resources", "budget_data.csv")

In [9]:
# Read CSV File
PyBank_df = pd.read_csv(csv_path)

In [10]:
# View Sample of Data
PyBank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [33]:
# Calculate count of rows and assign to variable
Total_Months = PyBank_df["Date"].count()

In [32]:
# Calculate sum of Profit/Losses and assign to variable
Total = PyBank_df["Profit/Losses"].sum()

In [43]:
# Calculate average change and assign to variable
Average = PyBank_df["Profit/Losses"].mean()

In [44]:
# Calculate Minimum and assign to variable 
Greatest_Decrease = PyBank_df.min()

In [61]:
# Calculate Maximu, and assign to variable 
Greatest_Increase = PyBank_df.max()

In [65]:
# Print Results 
print(f"""
Financial Analysis 
---------------------------- 
Total Months: {Total_Months} 
Total: ${Total}
Average  Change: ${Average} 
Greatest Increase in Profits: {Greatest_Increase} 
Greatest Decrease in Profits: {Greatest_Decrease}
""")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $446309.0465116279
Greatest Increase in Profits: Date             Sep-2016
Profit/Losses     1170593
dtype: object
Greatest Decrease in Profits: Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [66]:
# Export Results to text file
with open("PyBank_Results.txt", "w") as text_file:
    text_file.write(f"""
Financial Analysis 
---------------------------- 
Total Months: {Total_Months} 
Total: ${Total}
Average  Change: ${Average} 
Greatest Increase in Profits: {Greatest_Increase} 
Greatest Decrease in Profits: {Greatest_Decrease}
""")